// Toggle
// 
// Toggle button
// 
// Styleguide 4

// Toggle button 
//
// Markup:
// <div class="toggle">
//  <div class="toggle__toggle-button">
//    <div class="toggle__toggle-button__slider"></div>
//  </div>
//  <div class="toggle__label">Toggle button </div>
// </div>
//
// Styleguide 4.1 
 
// Toggle button checked
//
// Markup:
// <div class="toggle --checked">
//  <div class="toggle__toggle-button">
//    <div class="toggle__toggle-button__slider"></div>
//  </div>
//  <div class="toggle__label">Toggle button checked</div>
// </div>
//
// Styleguide 4.2

// Toggle button disabled
//
// Markup:
// <div class="toggle --disabled">
//  <div class="toggle__toggle-button">
//    <div class="toggle__toggle-button__slider"></div>
//  </div>
//  <div class="toggle__label">Toggle button </div>
// </div>
//
// Styleguide 4.3 


// Toggle button checked disabled
//
// Markup:
// <div class="toggle --checked --disabled">
//  <div class="toggle__toggle-button">
//    <div class="toggle__toggle-button__slider"></div>
//  </div>
//  <div class="toggle__label">Toggle button checked disabled</div>
// </div>
//
// Styleguide 4.4



$toggle-button-border-color: $alto;
$toggle-button-border-radius: 1.3rem;

$toggle-button-width: 5rem;
$toggle-button-height: 2.5rem;

$toggle-button-slider-height: 2.3rem;
$toggle-button-slider-width: 2.5rem;

$toggle-button-slider-border-color: $alto;
$toggle-button-slider-border-radius: 1.2rem;

$toggle-button-slider-bg-color: $boulder;
$toggle-button-slider-bg-color-checked: $harlequin;

$toggle-button-label-color: $mine-shaft;

@include component(toggle) {

  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: start;

  @include part(toggle-button) {

    border: 1px solid $toggle-button-border-color;
    border-radius: $toggle-button-border-radius;
    display: inline-block;
    height: $toggle-button-height;
    width: $toggle-button-width;

    @include part(slider) {
      background-color: $toggle-button-slider-bg-color;
      border: 1px solid $toggle-button-slider-border-color;
      border-radius: $toggle-button-slider-border-radius;
      left: 0;
      height: $toggle-button-slider-height;
      position: relative;
      transition: left .2s ease-in-out;
      width: $toggle-button-slider-width;
    }
  }

  @include part(label) {
    color: $toggle-button-label-color;
    display: inline-block;
    line-height: $toggle-button-height;
    margin-left: 1rem;
  }

  @include option(checked) {
    @include part(toggle-button) {
      @include part(slider) {
        background-color: $toggle-button-slider-bg-color-checked;
        left: $toggle-button-slider-width - 0.2rem;
      }
    }
  }

  @include option(disabled) {
    cursor: not-allowed;
    opacity: 0.5;
  }
}